<div layout="column" flex>
    <form layout="column" name="folderForm">
        <div layout-gt-sm="row" layout="column">
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{'label.FolderRemover.folderName' | translate}}</label>
                <input ng-model="vm.form.folderName">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>{{'label.FolderRemover.parentFolder' | translate}}</label>
                <input ng-model="vm.form.parentFolder">
            </md-input-container>
            <div id="folderOpen">
                <md-button class="md-primary md-raised" ng-click="vm.openFolder()">{{'button.FolderRemover.selectFolder' | translate}}</md-button>
            </div>
        </div>
        <md-button class="md-primary md-raised">{{'button.FolderRemover.execute' | translate}}</md-button>
    </form>
</div>